@model UCP1_PAW_039_C.Models.Materi

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Materi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Materi1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Materi1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlMateri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlMateri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlVideo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlVideo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlPicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlPicture)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdMateri" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
