@model UCP1_PAW_039_C.Models.Materi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Materi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Materi1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Materi1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlMateri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlMateri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlVideo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlVideo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlPicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlPicture)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdMateri">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
