@model IEnumerable<UCP1_PAW_039_C.Models.Materi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Materi 1")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serach)
            </th>
            <th>
                @Html.DisplayName("Url Materi ")
            </th>
            <th>
                @Html.DisplayName("Url Video ")           
            </th>
            <th>
                @Html.DisplayName("Url Picture ")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Materi1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlMateri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlVideo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlPicture)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMateri"><i class="fa fa-marker fa-lg"></i></a>
                <a asp-action="Details" asp-route-id="@item.IdMateri"><i class="fas fa-list"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdMateri"><i class=" fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
