@model UCP1_PAW_039_C.Models.Upgrade

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Upgrade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrialMode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrialMode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PremiumMode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PremiumMode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdUpgrade">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
