@model IEnumerable<UCP1_PAW_039_C.Models.Upgrade>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Trial Mode")
            </th>
            <th>
                @Html.DisplayName("Premium Mode")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrialMode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PremiumMode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUpgrade"><i class="fa fa-marker fa-lg"></i></a>
                <a asp-action="Details" asp-route-id="@item.IdUpgrade"><i class="fas fa-list"></i></a>
                <a asp-action="Delete" asp-route-id="@item.IdUpgrade"><i class=" fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
